In [1]:
import pandas as pd
import numpy as np
import re
import pickle

!pip install git+https://github.com/alberanid/imdbpy #imdbpy 설치
from imdb import IMDb

Collecting git+https://github.com/alberanid/imdbpy
  Cloning https://github.com/alberanid/imdbpy to /tmp/pip-req-build-a5pfrod3
  Running command git clone -q https://github.com/alberanid/imdbpy /tmp/pip-req-build-a5pfrod3
Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.6/dist-packages (from IMDbPY==2020.7.29) (1.3.18)
Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (from IMDbPY==2020.7.29) (4.2.6)
Building wheels for collected packages: IMDbPY
  Building wheel for IMDbPY (setup.py) ... done
  Created wheel for IMDbPY: filename=IMDbPY-2020.7.29-cp36-none-any.whl size=300835 sha256=6c922545831b84a8c6027afb6e912e681092f8c044066c16058ced5cef7262ea
  Stored in directory: /tmp/pip-ephem-wheel-cache-b3ri5cnh/wheels/0f/09/61/190df5e0276765680540f1562f2abca80e725a7e48595e993f
Successfully built IMDbPY
Installing collected packages: IMDbPY
Successfully installed IMDbPY-2020.7.29

In [2]:
#구글드라이브 마운트
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /gdrive
/gdrive

In [3]:
#새 경로에서 불러오기

#1. 구글 드라이브에서 Movie_data 다운로드, 합치기 
df = pd.DataFrame()
df_list = []
[df_list.append("df"+str(df_no)) for df_no in range(26)]
print('df_list:',df_list)
df = pd.DataFrame(data = None) #첫번째 df. 빔. 빈 df 만들기: pd.DataFrame(data = None)

for data_ind, df_element in zip(range(7),df_list): #**추후에 바꿔 range(26)으로 #ZIP 함수를 활용해서 for i,j in zip(--,--): 이렇게 변수 두개 쓸 수도 있음. 
  #박사님's path = "/gdrive/My Drive/movie/"+"movie_data_"+str(data_ind)+".csv"
  path = "/gdrive/My Drive/movie_predict/영화중복실험/movie_data_"+str(data_ind)+".csv"
  print("path:",path)
  print(df_element)


  df_element = pd.read_csv(path, index_col = "Movie_title") #pd.read_csv('폴더경로',index_col = "column이름") 
  print(df_element)
  df = pd.concat([df, df_element]) #df0,df1,df2,...


#df.describe()
df
  #이렇게 하면 df_list의 값에 바로 pd가 지정되는게 아니라 ex) 'df_list[data_ind]'가 pd로 지정됨. 각각 list안에값을 변수 이름으로 하고프면

df_list: ['df0', 'df1', 'df2', 'df3', 'df4', 'df5', 'df6', 'df7', 'df8', 'df9', 'df10', 'df11', 'df12', 'df13', 'df14', 'df15', 'df16', 'df17', 'df18', 'df19', 'df20', 'df21', 'df22', 'df23', 'df24', 'df25']
path: /gdrive/My Drive/movie_predict/영화중복실험/movie_data_0.csv
df0
                               Unnamed: 0  ...               Domestic_distributor
Movie_title                                ...
The End of the Affair (1999)            0  ...  Sony Pictures Entertainment (SPE)
The Cider House Rules (1999)            1  ...                            Miramax
Magnolia (1999)                         2  ...                    New Line Cinema
Girl, Interrupted (1999)                3  ...  Sony Pictures Entertainment (SPE)
Snow Falling on Cedars (1999)           4  ...                 Universal Pictures
...                                   ...  ...                                ...
Fast Food Fast Women (2000)           495  ...                       Lot 47 Films
Moulin Rouge! (2001)                  496  ...              Twentieth Century Fox
Pearl Harbor (2001)                   497  ...                Walt Disney Studios
The Man Who Cried (2000)              498  ...                     Focus Features
Wo de fu qin mu qin (1999)            499  ...             Sony Pictures Classics

[493 rows x 16 columns]
path: /gdrive/My Drive/movie_predict/영화중복실험/movie_data_1.csv
df1
                                            Unnamed: 0  ...         Domestic_distributor
Movie_title                                             ...
1732 Høtten (1998)                                   0  ...                    USA Films
The Animal (2001)                                    1  ...           Revolution Studios
What's the Worst That Could Happen? (2001)           2  ...    Metro-Goldwyn-Mayer (MGM)
Nuit de noces (2001)                                 3  ...                      Seville
Big Eden (2000)                                      4  ...                 Jour de Fete
...                                                ...  ...                          ...
Possession (2002)                                  495  ...               Focus Features
L'ultimo bacio (2001)                              496  ...                    THINKFilm
Bella Martha (2001)                                497  ...           Paramount Classics
Vsichni moji blízcí (1999)                         498  ...  Northern Arts Entertainment
One Hour Photo (2002)                              499  ...     Fox Searchlight Pictures

[497 rows x 16 columns]
path: /gdrive/My Drive/movie_predict/영화중복실험/movie_data_2.csv
df2
                                  Unnamed: 0  ... Domestic_distributor
Movie_title                                   ...
Serving Sara (2002)                        0  ...   Paramount Pictures
S1m0ne (2002)                              1  ...      New Line Cinema
Undisputed (2002)                          2  ...              Miramax
Little Secrets (2001)                      3  ...     IDP Distribution
Comment j'ai tué mon père (2001)           4  ...     New Yorker Films
...                                      ...  ...                  ...
Passionada (2002)                        495  ...     IDP Distribution
American Splendor (2003)                 496  ...   Fine Line Features
Hawayein (2003)                          497  ...             Megastar
Tere Naam (2003)                         498  ...   Eros International
Mi Casa, Su Casa (2003)                  499  ...  Pathfinder Pictures

[494 rows x 16 columns]
path: /gdrive/My Drive/movie_predict/영화중복실험/movie_data_3.csv
df3
                                  Unnamed: 0  ...          Domestic_distributor
Movie_title                                   ...
Thirteen (2003)                            0  ...      Fox Searchlight Pictures
Catching Out (2003)                        1  ...         Seventh Art Releasing
The Medallion (2003)                       2  ...              TriStar Pictures
My Boss's Daughter (2003)                  3  ...               Dimension Films
Marci X (2003)                             4  ...            Paramount Pictures
...                                      ...  ...                           ...
Ju-on (2002)                             495  ...               Vitagraph Films
Orwell Rolls in His Grave (2003)         496  ...  Sag Harbor Basement Pictures
Festival Express (2003)                  497  ...                     THINKFilm
Böse Zellen (2003)                       498  ...            Kino International
She Hate Me (2004)                       499  ...        Sony Pictures Classics

[493 rows x 16 columns]
path: /gdrive/My Drive/movie_predict/영화중복실험/movie_data_4.csv
df4
                                          Unnamed: 0  ...      Domestic_distributor
Movie_title                                           ...
Garden State (2004)                                0  ...  Fox Searchlight Pictures
Los Angeles Plays Itself (2003)                    1  ...              Burton/Floyd
The Village (2004)                                 2  ...       Walt Disney Studios
Manchurian polo (2004)                             3  ...        Paramount Pictures
Harold & Kumar Go to White Castle (2004)           4  ...           New Line Cinema
...                                              ...  ...                       ...
McLibel (2005)                                   495  ...       Cinema Libre Studio
Batman Begins (2005)                             496  ...              Warner Bros.
The Perfect Man (2005)                           497  ...        Universal Pictures
My Summer of Love (2004)                         498  ...            Focus Features
Heights (2005)                                   499  ...    Sony Pictures Classics

[493 rows x 16 columns]
path: /gdrive/My Drive/movie_predict/영화중복실험/movie_data_5.csv
df5
                                        Unnamed: 0  ...         Domestic_distributor
Movie_title                                         ...
The Talent Given Us (2004)                       0  ...              Vitagraph Films
Golemata voda (2004)                             1  ...  Picture This! Entertainment
Me and You and Everyone We Know (2005)           3  ...                    IFC Films
The Deal (2005)                                  4  ...        Front Street Pictures
Herbie Fully Loaded (2005)                       5  ...          Walt Disney Studios
...                                            ...  ...                          ...
American Dreamz (2006)                         495  ...           Universal Pictures
Pyare Mohan (2006)                             496  ...           Eros International
Standing Still (2005)                          497  ...          Freestyle Releasing
Somersault (2004)                              498  ...                          NaN
Lü cao di (2005)                               499  ...                    First Run

[492 rows x 16 columns]
path: /gdrive/My Drive/movie_predict/영화중복실험/movie_data_6.csv
df6
                                   Unnamed: 0  ...               Domestic_distributor
Movie_title                                    ...
In Her Line of Fire (2006)                  0  ...                   Regent Releasing
Zui hao de shi guang (2005)                 1  ...                          IFC Films
Moartea domnului Lãzãrescu (2005)           2  ...                             Tartan
RV (2006)                                   3  ...  Sony Pictures Entertainment (SPE)
Akeelah and the Bee (2006)                  4  ...                          Lionsgate
...                                       ...  ...                                ...
The Abandoned (2006)                      495  ...                Freestyle Releasing
Amazing Grace (2006)                      496  ...                   IDP Distribution
Starter for 10 (2006)                     497  ...                       Picturehouse
Gray Matters (2006)                       498  ...          Yari Film Group Releasing
Glastonbury (2006)                        499  ...                          THINKFilm

[491 rows x 16 columns]

                               Unnamed: 0  ...               Domestic_distributor
Movie_title                                ...
The End of the Affair (1999)            0  ...  Sony Pictures Entertainment (SPE)
The Cider House Rules (1999)            1  ...                            Miramax
Magnolia (1999)                         2  ...                    New Line Cinema
Girl, Interrupted (1999)                3  ...  Sony Pictures Entertainment (SPE)
Snow Falling on Cedars (1999)           4  ...                 Universal Pictures
...                                   ...  ...                                ...
The Abandoned (2006)                  495  ...                Freestyle Releasing
Amazing Grace (2006)                  496  ...                   IDP Distribution
Starter for 10 (2006)                 497  ...                       Picturehouse
Gray Matters (2006)                   498  ...          Yari Film Group Releasing
Glastonbury (2006)                    499  ...                          THINKFilm

[3453 rows x 16 columns]

In [ ]:
df[df.index.duplicated()]
#2470 rows × 16 columns 안에는 중복 없었음. (movie_data0-4)
#movie_data_5,6에서 NaN문제
#movie_code도 같이 수집하자. webpage랑.

### 영화 수상 여부 확인

In [ ]:
#Stars 영화 수상 여부 확인
from ast import literal_eval #str에서 list를 인식할 수 있게 해줌. 

#노미니,위너 빈 컬럼 생성
df["nominated_stars"] = 0 
df["winner_stars"] = 0 
df["nominated_writers"] = 0 
df["winner_writers"] = 0 
df["nominated_directors"] = 0
df["winner_directors"] = 0

for n in range(len(df.index)): #영화접근
  #우선 ' ... ' cleansing 
  star_list = literal_eval(df['Stars'].iloc[n]) #n번째 행(영화) 행자리임 바꾸삼
  for i in range(len(star_list)): # n번째 영화안의 i번째 배우    
    #정규 표현식으로 각 배우' ... ' 없애기.
    try:
      m = re.search(r'(.*)\.\.\.(.*)',star_list[i]) # ( ... )는 띄어쓰기+ 모든문자(점 포함) 세번+띄어쓰기 매칭하는거.
      star = m.group(1)

    except: #이미 정상이어서 정규표현식이 안통하는 애들
      star = star_list[i]

    #Star 한명의 수상이력
    ia = IMDb()
    Person_Id = ia.search_person(star)[0].personID #검색되는 0번째 star check
    Awards = ['Golden Globes, USA', 'Academy Awards, USA']

    #len(ia.get_person_awards(Person_Id).get('data').get('awards'))
    if ia.get_person_awards(Person_Id).get('data').get('awards') == None:
      continue #수상 정보 없으므로 다음 배우로 
    else:
      award_records_no = len(ia.get_person_awards(Person_Id).get('data').get('awards'))
      award_records = ia.get_person_awards(Person_Id).get('data').get('awards')
      #print(award_records)

      df['Released_date'] = pd.to_datetime(df['Released_date']) #df['컬럼명'] = pd.to_datetime(df['컬럼명'])
      agg_award_year = df['Released_date'].dt.year[0] - 1 #n번째 영화니까  #agg_award_year = df['Released_date'].dt.year[n] - 1 #n번째 영화니까 ** else 다하고 바꾸기

      for record_no in range(award_records_no): #한 영화 안에서 배우한명의 record
        try:
          #print(award_records[record_no])
          awarded_year = award_records[record_no]['year'] #수상 연도
          right_year = awarded_year <= agg_award_year
          right_award = award_records[record_no]['award'] in Awards 
          if right_year and right_award : #연도 조건 충족 시 (조건1), 조건2 - 골든 글로브/acdemy award수상하는지
            #print(award_records[record_no])
            #노미니인지 승자인지?
            if ia.get_person_awards(Person_Id).get('data').get('awards')[0]['result'] == 'Nominee': #Nominee인 경우 Nominee칼럼에 1
              df["nominated_stars"].iloc[n] = 1  
            elif :ia.get_person_awards(Person_Id).get('data').get('awards')[0]['result'] == 'Winner':
              df["winner_stars"].iloc[n] = 1   

          else:
          continue #다음 이력

        except KeyError: #year가 key로 없으면 영화 제목에서 뽑아 쓰기 **안됨 일단 패스. 여기 꼭 고치셈 -->Ryan gosling으로 해보셈
          continue #print(award_records[record_no]['movies'])
        #except:
          #continue

NameError: ignored

In [21]:
#위에 코드 else 밑
ia = IMDb()
Person_Id = ia.search_person('leonardo dicaprio')[0].personID #Person_Id = ia.search_person(star)[0].personID else 다 하고 이코드로 바꾸셈 **

Awards = ['Golden Globes, USA', 'Academy Awards, USA']

#여기부터 붙여넣어 밑에 셀에
award_records_no = len(ia.get_person_awards(Person_Id).get('data').get('awards'))
award_records = ia.get_person_awards(Person_Id).get('data').get('awards')
#print(award_records)

df['Released_date'] = pd.to_datetime(df['Released_date']) #df['컬럼명'] = pd.to_datetime(df['컬럼명'])
agg_award_year = df['Released_date'].dt.year[0] - 1 #n번째 영화니까  #agg_award_year = df['Released_date'].dt.year[n] - 1 #n번째 영화니까 ** else 다하고 바꾸기

for record_no in range(award_records_no): #한 영화 안에서 배우한명의 record
  try:
    #print(award_records[record_no])
    awarded_year = award_records[record_no]['year'] #수상 연도
    right_year = awarded_year <= agg_award_year
    right_award = award_records[record_no]['award'] in Awards 
    if right_year and right_award : #연도 조건 충족 시 (조건1), 조건2 - 골든 글로브/acdemy award수상하는지
      #print(award_records[record_no])
      #노미니인지 승자인지?
      if ia.get_person_awards(Person_Id).get('data').get('awards')[0]['result'] == 'Nominee': #Nominee인 경우 Nominee칼럼에 1
        df["nominated_stars"].iloc[n] = 1  
      elif :ia.get_person_awards(Person_Id).get('data').get('awards')[0]['result'] == 'Winner':
        df["winner_stars"].iloc[n] = 1   

    else:
     continue #다음 이력

  except KeyError: #year가 key로 없으면 영화 제목에서 뽑아 쓰기 **안됨 일단 패스. 여기 꼭 고치셈 -->Ryan gosling으로 해보셈
    continue #print(award_records[record_no]['movies'])
  #except:
    #continue


#ia.get_person_awards(Person_Id).get('data').get('awards')[0] #수상 목록

#'movies': <Movie id:3783958[http] title:_La La Land (2016)_>

{'year': 1994, 'result': 'Nominee', 'prize': 'Oscar', 'category': 'Best Actor in a Supporting Role', 'movies': <Movie id:0108550[http] title:_What's Eating Gilbert Grape (1993)_>, 'award': 'Academy Awards, USA'}
{'year': 1998, 'result': 'Nominee', 'prize': 'Golden Globe', 'category': 'Best Performance by an Actor in a Motion Picture - Drama', 'movies': <Movie id:0120338[http] title:_Titanic (1997)_>, 'award': 'Golden Globes, USA'}
{'year': 1994, 'result': 'Nominee', 'prize': 'Golden Globe', 'category': 'Best Performance by an Actor in a Supporting Role in a Motion Picture', 'movies': <Movie id:0108550[http] title:_What's Eating Gilbert Grape (1993)_>, 'award': 'Golden Globes, USA'}

In [18]:
ia.search_person('leonardo dicaprio')[0]

In [23]:
df['Stars'].iloc[0]

'[\'Ralph Fiennes\', \'Stephen Rea\', \'Julianne Moore\', "Heather-Jay Jones ... Henry\'s Maid", \'James Bolam ...\', \'Ian Hart ...\', \'Sam Bould ... Lance Parkis\', \'Cyril Shaps\', \'Penny Morrell\', \'Simon Fisher-Turner ... Doctor Gilbert\', \'Jason Isaacs\', \'Deborah Findlay\', \'Nicholas Hewetson\', \'Jack McKenzie\', \'Claire Ashton\', \'Jeremy Caleb Johnson\']'